
.app-container{
  width: 700 px;
}

.login-container {
  background-color: #0e0e0ef3;
  padding: 40px;
  margin-top: 8%;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
  width: 400px;
  max-width: 90%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.login-container h2 {
  margin-bottom: 20px;
}

.login-container input {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;
}

.login-container button {
  background-color: #2979ff;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.login-container button:hover {
  background-color: #1c54b2;
}


body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #111212;
    margin-left: 35%;
    margin-top: 8%;
  }
  
  .App {
    text-align: center;
    max-width: 700px;
    margin: 50px auto;
    background: #0c0c0c;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    
  }
  
  h1 {
    color: #cbc3c3;
    margin-bottom: 1.5rem;
    
  }
  
  .input-section {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 1.5rem;
    
    
  }
  
  input {
    flex: 1;
    padding: 0.75rem 1rem;
    border: 1px solid #a09393;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    transition: border 0.3s;
   
  }
  
  input:focus {
    border-color: #4b7bec;
  }
  
  button {
    padding: 0.75rem 1rem;
    background-color: #4b7bec;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
    margin: 1%;
    width: 80px;

    
  }
  
  button:hover {
    background-color: #3867d6;
  }
  
  .todo-item {
    background-color: #f0f4f8;
    padding: 0.75rem 1rem;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    transition: transform 0.2s ease;
    
  }
  
  .todo-item:hover {
    transform: scale(1.02);
  }
  
  .todo-item span {
    flex: 1;
    text-align: left;
    cursor: pointer;
    
  }
  
  .todo-item span.completed {
    text-decoration: line-through;
    color: #999;
   
  }
  
  .todo-item button {
    background: none;
    color: #e74c3c;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
   
  }
  